
{{page-title "Dash"}}

<div class="row">
  <nav class="navbar fixed-top sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dash</a>
      {{yield}}
    </div>
  </nav>
</div>

