
{{page-title "Dash"}}

<nav class="navbar fixed-top sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dash</a>
    {{yield}}
    <span class="navbar-text">
      {{this.state.lastUpdate}}
    </span>
  </div>
</nav>

